<form action="/bmi" method="get">
  <label for="height">Enter your height</label>
  <input type="text" name="height" placeholder ="enter your height">
  <label for="weight">Enter your weight</label>
  <input type="text" name="weight" placeholder ="enter your weight">
  <input type="submit">
</form>
<% if @result %>
<p>your BMI is <%= @result %></p>
<% end %>