<form action="/" method="get">
  <label for="first">First Number</label>
  <input type="text" name="first" placeholder ="Enter the first number">
  <label for="first">Operator</label>
  <input type="text" name="operator" placeholder ="Enter the operator">
  <label for="first">Second Number</label>
  <input type="text" name="second" placeholder ="Enter the second number">
  <input type="submit">
</form>
<!-- if does not need to be displayed, therefore no equals required before it -->
<% if @result%>
<p>The Result <%= @first %>  <%= @operator %>  <%= @second %> is <%= @result %></p>
<% end %>